.btnInicio{
    margin-left: 40%;;
    position: absolute;
    display: inline-block;
    bottom: 50%;
    animation: showButton 3s;

}
@keyframes showButton {
    from {
        margin-left: 0%;
        filter: opacity(0)
    } to {
        margin-left: 40%;
        filter:opacity(1);
    }
}

@media screen and (max-width: 768px) {
    .btnInicio{
        display: block;
        margin-left: 35%;
        margin-bottom: 60%;
        bottom: 0px;
        animation: showButton 5s;
    }
    @keyframes showButton {
        from {
            margin-bottom: 40%;
            filter: opacity(0)
        } to {
            margin-bottom: 60%;
            filter:opacity(1);
        }
    }
}